.container__direction--column {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
}

.container__direction--row {
  display: flex;
  flex-direction: row;
  margin: 2% 2% 0 5%;
  align-content: center;
  justify-content: space-between;
}

.container__title {
  color: wheat;
  font-weight: 900;
  margin-right: 15px;
  height: 30px;
  line-height: 30px;
}

.container__description {
padding: 5px;
}