.switch {
  position: relative;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  width: 92px;
  transition: 1s;
}

.switch label {
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  text-align: left;
}
.switch input {
  display: none;
}
.switch__icon {
  cursor: pointer;
  pointer-events: none;
}
.switch__icon:before,
.switch__icon:after {
  content: "";
  position: absolute;
  top: 45%;
  left: 35%;
  transition: 0.2s ease-out;
}

/*
 * Toggle button variables
 */
/*
 * Toggle button styles
 */
.switch__animation--aava label {
  height: 30px;
  line-height: 30px;
  transition: all 0.2s;
  border-radius: 2rem;
}
.switch__animation--aava label:before,
.switch__animation--aava label:after {
  position: absolute;
  right: 1.3rem;
  transition: all 0.2s 0.1s ease-out;
}
.switch__animation--aava label:before {
  content: attr(data-on-text);
}
.switch__animation--aava label:after {
  content: attr(data-off-text);
}

.switch__animation--aava input[type="checkbox"] + label {
  width: 90px;
  background: #ff5335;
}
.switch__animation--aava input[type="checkbox"] + label:before {
  opacity: 0;
  transform: translate(0, 20px);
}
.switch__animation--aava input[type="checkbox"] + label:after {
  opacity: 1;
  transform: translate(0, 0);
}

.switch__animation--aava input[type="checkbox"]:checked ~ label {
  width: 90px;
  background: #61b136;
}
.switch__animation--aava input[type="checkbox"]:checked ~ label:before {
  opacity: 1;
  transform: translate(0, 0);
}
.switch__animation--aava input[type="checkbox"]:checked ~ label:after {
  opacity: 0;
  transform: translate(0, -20px);
}

.switch__animation--aava input[type="checkbox"]:checked ~ .switch__icon:before {
  transform: translate(-10%, 100%) rotate(45deg);
  width: 11.66667px;
}

.switch__animation--aava input[type="checkbox"]:checked ~ .switch__icon:after {
  transform: translate(30%) rotate(-45deg);
}

.switch__animation--aava .switch__icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 30px;
  width: 30px;
}
.switch__animation--aava .switch__icon:before,
.switch__animation--aava .switch__icon:after {
  height: 3px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.switch__animation--aava .switch__icon:before {
  width: 18px;
  transform: rotate(45deg);
}
.switch__animation--aava .switch__icon:after {
  width: 18px;
  transform: rotate(-45deg);
}
