.page {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  //background-image: linear-gradient(
  //  to right,
  //  #123374,
  //  #003f78,
  //  #004979,
  //  #005278,
  //  #095a75
  //);

  background-image: url(/images/background/wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  //filter: grayscale(50%) brightness(60%);

  //background-image: radial-gradient(circle, #e6c229, #6fca59, #00c2a6, #00aedf, #1a8fe3);
  //background: linear-gradient(to right, rgb(185, 147, 214), rgb(140, 166, 219));
  min-height: 100vh;
}

a[href],
input[type="submit"],
input[type="image"],
label[for],
select,
button,
.pointer {
  cursor: pointer;
}

span {
  font-weight: 900;
}

.diagramView {
  position: initial;
  text-align: left;
}