
.button__position {
  margin-top: 100px;
  padding: 10px;

}


.button__theme {
  background-color: #EFB71F;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #3E3A3D;
  padding: 5px 10px;
  text-transform: uppercase;
  border-color: #f0b81f;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0;
  border-radius: 5px;

}