
.population__section {
  margin-top: 10px;
  background: #f0b81f;
  padding: 10px;
  width: 700px;
  border-radius: 10px;
  color: #3E3A3D;
  display: flex;
  flex-direction: row;

}

.population__image {
  width: 20%;
  max-height: 140px;
  padding-left: 10px;
  padding-bottom: 10px;
  align-self: center;
}

.population__wrapper {
  display: flex;
  flex-direction: column;
  margin-left:15px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-top-right-radius: 10px;
  width: 100%;
}

.population__colonyType {
  font-size: 22px;
}