
.world__section {
  margin-top: 10px;
  background: #f0b81f;
  padding: 10px;
  width: 700px;
  border-radius: 10px;
  color: #3E3A3D;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.world__image {
  width: 20%;
  max-height: 140px;
  padding-right: 10px;
  padding-top: 10px;
  justify-items: center;
align-self: center;
}

.world__wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}